*{
	font-family: game,"微软雅黑",arial;
	padding: 0;
	margin: 0;
}
@font-face {
	font-family:'game';
	src: url('汉仪雪君体简.ttf');
}
span{
	color: #727272;
}

.loginBox{
	position: relative;
	background: url(../img/login-bg.jpg);
	background-repeat: no-repeat;
	margin: 0px auto;
	width: 1200px;
	height: 600px;
}
.loginBox input[type=text]{
	position: absolute;
	bottom: 170px;
	left: 480px;
	height: 60px;
	width: 230px;
}
.loginBox button{
	position: absolute;
	bottom: 88px;
	left: 480px;
	width: 230px;
	height: 60px;
	cursor: pointer;
}
.loginBox input[type=text],.loginBox button{
	border: none;
	outline: none;
	background: transparent;
	color: #FFFFFF;
	font-size: 22px;
	text-align: center;
}

/*主页面*/
.mainBox{
	position: relative;
	background: url(../img/main-bg.jpg);
	background-repeat: no-repeat;
	margin: 0px auto;
	width: 1200px;
	height: 600px;
}
.mainBox input[type=text]{
	position: absolute;
	bottom: 50px;
	left: 80px;
	height: 30px;
	width: 170px;
}
.mainBox button#createBtn{
	position: absolute;
	bottom: 36px;
	left: 290px;
	width: 60px;
	height: 60px;
	cursor: pointer;
}
.mainBox button.gameBtn{
	color: #000;
	font-size:18px;
	cursor: pointer;
	margin-top: 10px;
}
.mainBox input[type=text],.mainBox button{
	border: none;
	outline: none;
	background: transparent;
	color: #FFFFFF;
	font-size: 22px;
	text-align: center;
}
.mainProfile{
	position: absolute;
	top: 60px;
	left: 100px;
	width: 270px;
	height: 160px;
	display: flex;
	justify-content: center;
	flex-direction:column;
}
.mainProfile h1,.mainProfile p{
	margin: 6px 0;
	margin-left: 18px;
}
.mainProfile p{
	font-size: 18px;
}
.onlineBox{
	position: absolute;
	top: 285px;
	left: 87px;
	width: 308px;
	height: 184px;
	
}
.onlineBox .head{
	padding: 12px 24px;
}
.onlineBox .head:after{
	display: block;
	content: "";
	clear: both;
}
.onlineBox .head h1{
	font-size: 24px;
	float: left;
}
.onlineBox .head span{
	float: right;
	line-height: 24px;
} 
.onlineBox .body{
	
	height: 130px;
	overflow-y: scroll;
}
.onlineBox .body table{
	width: 100%;
	text-align: center;
}
.onlineBox .body table td{
	width: 33.333%;
	height: 30px;
}
.onlineBox .body table td span.online{
	color: green;
}
.onlineBox .body table td span.playing{
	color: red;
}
.onlineBox .body table td span.prepare{
	color: blue;
}
.onlineBox .body table td span.offline{
	color: #727272;
}
.roomBox{
	position: absolute;
	top: 44px;
	left: 440px;
	width: 694px;
	height: 184px;	
}
.chatBox{
	position: absolute;
	top: 272px;
	left: 440px;
	width: 694px;
	height: 276px;	
}
.roomBox h2,.chatBox h2{
	text-align: center;
	margin-top: 10px;
}
.rooms{
	margin: 10px 0;
	width: 100%;
	height: 130px;
	overflow-y: scroll;
}
.rooms .room{
	margin: 0px 10px 20px;
	width: 100px;
	float: left;
	text-align: center;
	cursor: pointer;
}
.chats{
	height: 190px;
	font-size: 18px;
	overflow-y: scroll;
}
.chats ul li{
	margin: 20px 30px;
	list-style: none;
}
.chats .myChat{
	text-align: right;
}
.chats input[type=button]{
	background: transparent;
	border: none;
	outline: none;
	position: absolute;
	cursor: pointer;
	bottom: 10px;
	left: 480px;
	height: 28px;
	font-size: 18px;
}
.chats input[type=text]{
	text-indent: 0.4em;
	text-align: left;
	color: #000000;
	position: absolute;
	bottom: 10px;
	left: 180px;
	width: 280px;
	height: 24px;
	outline: none;
	border: 2px solid #000000;
	font-size: 18px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

#canvas{
	background-color: burlywood;
}
#chestBox{
	position: absolute;
	z-index: 1000;
	position: relative;
}


